* { font-family: Arial; }

.headText { text-align: center; }

.pages { text-align: center; }

.discordLink { font-weight: bold; }

.discordComment { font-style: italic; font-size: 15px; }

.socialMedia { text-align: center; }
