* { font-family: Roboto; }

.headText {
  text-align: center;
}

.pages {
  font-size: 7px;
}

.name { color: blue; }

.def { color: black; font-size: 25px; }

.p1 { font-family: Arial; }

.a1 { }

.a2 { }
