* {
  font-family: Arial;
}

.h1 {
  font-family: Roboto;
  color: blue;
}

.h2 {
  font-family: Arial;
}

.p1 {
  font-family: Arial;
}

.a1 {
  float: left;
  margin: 100px;
}

.a2 {
  float: left;
  margin: 150px;
  line-height: 35%;
}
