* { font-family: Roboto; }

.headText { text-align: center; }

.pages { text-align: center; }

.name { color: blue; }

.def { color: black; font-size: 25px; font-style: italic; }

.define { font-style: italic; font-size: 10px; text-align: right; }
