* { font-family: Arial; }

.headerText { color: blue; text-align: center; }

.pages { text-align: center; }

.descriptions { text-align: center; }

table, th, td { border: 1px solid black; }

tr, td { padding: 1px; }
