* { font-family: Arial; }

.headerText { text-align: center; }

.pages { text-align: center; padding: 1px; }

.bodyText { text-align: left; margin-left: 30px; }

.names { font-family: Roboto; font-style: italic; }
